html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.table {
  display: table;
  width: 100%;
  border: 0.5px solid gray;
  font-size: 14px;
}

.row,
.row-header {
  display: table-row;
}

.col {
  display: table-cell;
  padding: 0.5rem 1rem;
  border-right: 0.5px solid #5f6368;
  border-bottom: 0.5px solid #5f6368;
}

.row-header .col {
  background-color: #5f6368;
  border-right: 0.5px solid #828282;
}

.merge-col {
  position: absolute;
  width: calc(100% - 2rem);
  border: 1px solid gray;
  margin-left: -1px;
  padding: 0.5rem 1rem;
}

main {
  background-color: #202124;
  min-height: 100vh;
  color: #fff;
}

.header {
  height: 64px;
  width: 100%;
  border-bottom: 1px solid #5f6368;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 8px;

  img {
    padding-top: 4px;
    cursor: pointer;
  }

  svg {
    width: 20px;
    height: 20px;
    margin: 0px 8px;
  }
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 20px;

  svg {
    width: 24px;
    height: auto;
  }

  svg:first-child {
    width: 18px;
  }

  svg:last-child {
    fill: #00897b;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.banner p {
  font-size: 3.5rem;
  z-index: 10;
  margin-top: -3.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1200px;
  justify-self: center;
  width: 100%;
}

.searchWrapper {
  background-color: #36373a;
  border: none;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.searchTapDropdowns {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.searchTapDropdown {
  color: #c2c6ca;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.inputWrapper {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  position: relative;
  width: 100%;
}

.inputGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.inputContainer input {
  border: 1px solid #5f6368;
  border-radius: 4px;
  padding: 12px 16px 12px 40px;
  width: 94%;
  height: 55px;
  background-color: transparent;
  color: #fff;
}

.inputContainer input.destination {
  padding-left: 44px;
}

.inputIcon {
  position: absolute;
  left: 16px;
  color: #c2c6ca;
  font-size: 16px;
  margin-top: 3px;
}

.inputIcon.destination {
  left: 20px;
}

.inputContainer.departure {
  position: relative;
}

.arrowSwap {
  position: absolute;
  right: -12px;
  border: 1px solid #5f6368;
  border-radius: 100%;
  padding: 10px;
  background-color: #36373a;
  color: #c2c6ca;
  align-items: center;
  justify-content: center;
  align-self: center;
  line-height: 0px;
  z-index: 10;
}

.inputCalendar {
  height: 55px;
  border: 1px solid #5f6368;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  padding: 0 20px;
}

.calendarItem {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  color: #828282;
}

.bar {
  height: 28px;
  width: 1px;
  background-color: #828282;
  margin-right: 10px;
}

.btn {
  background-color: #89b4f8;
  border: none;
  border-radius: 24px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  gap: 10px;
  width: 110px;
  cursor: pointer;
}

.btn.book {
  background-color: rgb(137, 180, 248, 0.6);
  padding: 8px;
}

.btn.book:hover {
  background-color: rgb(137, 180, 248);
}

.debug-area {
  padding-bottom: 50px;
}
